<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN" monitorInterval="10" strict="true">
    <Properties>
        <Property name="fileName">logs/demoapp.log</Property>
        <Property name="filePattern">logs/demoapp-%i.log</Property>
        <Property name="logPattern">%d [%t] [%-5level] [%c{10}] - %msg%n%throwable</Property>
    </Properties>
<!-- 
    <Filters>
        <RegexFilter regex="io.protomonitor.*" onMatch="ACCEPT" onMismatch="DENY"/>
    </Filters> -->
    <Appenders>
        <Console name="consoleAppender">
            <PatternLayout pattern="${logPattern}" />
        </Console>
        <RollingRandomAccessFile name="fileAppender" fileName="${fileName}"
            filePattern="${filePattern}" immediateFlush="true">
            <PatternLayout pattern="${logPattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="3" />
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="fileLogger" level="DEBUG" additivity="true">
            <AppenderRef ref="fileAppender" />
        </Logger>

        <Root level="DEBUG">
            <AppenderRef ref="consoleAppender" />
        </Root>
    </Loggers>

</Configuration>